* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.btn {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}
.ms_btn {
    color: white;
    background-color: blue;
    padding: .2rem;
    border-radius: 1rem;
    margin: 0 .5rem;
}

.card-game {
    width: 30%;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;

}

#vinto {
    font-size: 1.4rem;
    color: red;
    font-weight: bold;
}